@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

header {
  background-color: #25b79f;
  height: 100vh;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: auto;
}

/* Navbar */
.navbar {
  position: fixed;
  width: 100%;
  z-index: 500;
}

.navbar-container {
  justify-content: space-between;
  align-items: center;
  height: 64px;
}

.menu-items {
  display: flex;
}

.menu-items li {
  list-style: none;
  padding: 1rem;
}

.menu-items a {
  text-decoration: none;
  color: #f0f0e6;
  font-size: 1.2rem;
  padding: 0.3rem;
}

.menu-items a:hover {
  border-bottom: 2px solid #f0f0e6;
}

.navbar .logo {
  order: 1;
  color: #f0f0e6;
  font-size: 10rem;
}

.toggle-btn {
  background: none;
  border: none;
  color: #f0f0e6;
  cursor: pointer;
}

/* Home Content */
.home-content .name {
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #07374a;
  width: 100%;
  text-align: center;
}

.home-content .name h1 {
  font-size: 2.2rem;
  text-align: center;
}

.home-content .name p {
  color: #f0f0e6;
  font-size: 1.5rem;
}

/* About Me */
.about-me {
  background-color: #07374a;
  padding: 6rem 0;
}

.about-me .about-heading {
  margin-bottom: 20px;
  color: #25b79f;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}

.about-content img {
  margin-bottom: 30px;
  height: 200px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.about-content p {
  font-size: 1.2rem;
  color: #f0f0e6;
  padding: 0 2.3rem;
  text-align: center;
  margin-bottom: 30px;
}

/* Skills */
.skills {
  background-color: #25b79f;
  padding: 6rem 0;
}

.skills-heading {
  font-size: 2rem;
  font-weight: 600;
  color: #25b79f;
  text-align: center;
}

.skills-list {
  list-style: none;
  padding: 0;
  text-align: center;
}

.skills-list li {
  font-size: 1.2rem;
  color: #f0f0e6;
  padding: 0.5rem 0;
}

/* Projects */
.portfolio {
  background: #25b79f;
  padding: 6rem 0;
}

.proj-heading h1 {
  text-align: center;
  color: #07374a;
  font-size: 2.3rem;
  font-weight: 700;
  margin: 3rem 0;
}

/* Contact */
.contact {
  background: #07374a;
  position: relative;
  height: 92vh;
}

.contact-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.contact-content h2 {
  font-size: 2.5rem;
  font-weight: 400;
  color: #25b79f;
  padding-bottom: 0.5rem;
}

.contact-content .mail {
  color: #f0f0e6;
  padding-bottom: 0.2rem;
  font-size: 1rem;
}

.contact-content .links {
  color: #25b79f;
  padding: 0.5rem;
  padding-bottom: 1.8rem;
  font-size: 1rem;
}

.contact-content a {
  text-decoration: none;
  color: #25b79f;
  padding: 0.5rem;
  transition: 0.3s ease-in-out;
}

.contact-content a:hover {
  color: #f0f0e6;
}

.dark-mode header {
  background-color: #07374a;
}

.dark-mode .home-content .name {
  color: #f0f0e6;
}

.dark-mode .about-me {
  background-color: #25b79f;
}

.dark-mode .about-me .about-heading {
  color: #07374a;
}

.dark-mode .skills {
  background-color: #07374a;
}

.dark-mode .portfolio {
  background-color: #07374a;
}

.dark-mode .proj-heading h1 {
  color: #25b79f;
}

.dark-mode .contact {
  background-color: #25b79f;
}

.dark-mode .contact-content h2 {
  color: #07374a;
}
